body{
    background-image: linear-gradient(to right, #3c5a38 0%, #cb8d42 100%);
    font-family: "Benne", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
header{
    background-color: darkgreen;
    text-align: center;
    padding: 20px;
    word-spacing: 10px;
    position: sticky;
    top: 0px;
    width: 100%;

}
.nav{
    color: #E3FEF7;
    font-size: 20px;
}
h1{
    color: #003C43;
    text-align: center;
}
h2{
    color: #77B0AA;
    padding: 20px;
    margin: 0;
}
p, ul{
font-style: italic;
text-indent: 30px;
font-size: 18px;
padding: 15px;
}
.paragraph{
    color:#a3dbd3;
    font-size: 70px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px;
}
a{
    text-decoration: none;
    color: #E3FEF7;
    padding: 5px;
}
a:hover {
    background-color: #ECB159;
}
ul{
    margin: 0;
}
li{
    color: whitesmoke;
    line-height: 1.5;
}
#Experience, #About, #Connect, #Skills, #Projects{
    padding: 20px;
}

.img:hover{
    transform: scale(2);
    margin-left: 10px;
}
main{
    width: 800px;
    margin: 10px auto;
}

.flex-container{
    display: flex;
    gap: 20px;
    justify-content: space-evenly; /* Horizontally centers the content inside the flex container */
    align-items: center;     /* Vertically centers the content inside the flex container */         /* Full height to demonstrate vertical centering */
}

.work{
    background-color: #77B0AA;
    border-radius: 20px;
    height:70px;
    width: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px;
}

footer{
    background-color:#114232;
}

.connect-container{
    display: flex;
}
.social-media{
    margin: auto;
}

@media all and (min-width: 768px){
main{
    width:768px;
}
    .paragraph{
        font-size: 40px;
    }
.nav{
    font-size: 25px;
}
    h1{
        font-size: 30px;
    }
    .flex-container{
        flex-direction: column;
   
    }
    .work{
        border-radius: 20px;
        height:40px;
        width: 200px;
        align-items: center;
        padding: 15px;
    }
    #Experience, #About, #Connect, #Skills, #Projects{
        padding: 10px;
    }
    .img:hover{
        transform: scale(1.5);
        margin-left: 8px;
    }
    .social-media{
        display: flex;
        flex-direction: column;
    }
}
@media all and (max-width:400px){
    main{
        width: 400px;
        margin: 10px auto;
    }
    header{
        background-color: green;
        padding: 3px;
        word-spacing: 5px;
    }
    .paragraph{
        font-size: 20px;
    }
    h1{
        font-size: 20px;
    }
    .flex-container{
        flex-direction: column;
        gap: 10px;
   
    }
    .work{
        border-radius: 20px;
        height:30px;
        width: 150px;
        padding: 10px;
    }
    .img:hover{
        transform: scale(1.2);
        margin-left: 5px;
    }
    .social-media{
        display: flex;
        flex-direction: column;
    }
}