/* Mobile-first */
body {
  background-color: #e2e7d0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}
/* NAVBAR */
nav {
  background-color: rgb(81, 110, 81);
  color: #e3fef7;
  font-size: 1em;
  word-spacing: 10px;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  padding: 15px;
  text-decoration: none;
  justify-content: space-between; /* Use space-between to push elements apart */
  align-items: center; /* Align items vertically centered */
  top: 0px;
}
.home {
  margin-right: auto;
}
a {
  text-decoration: none;
  color: #e3fef7;
  padding: 5px;
}
a:hover {
  background-color: #ecb159;
}
.link {
  color: darkorange;
}
.hamburger {
  display: block; /* Show hamburger on mobile */
  font-size: 2em;
  background: none;
  border: none;
  color: #e3fef7;
  cursor: pointer;
}
.nav-links {
  display: none; 
  flex-direction: column; 
  position: absolute;
  top: 60px; 
  left: 0;
  background-color: rgb(81, 110, 81);
  width: 100%;
  z-index: 1000; 
  padding: 10px 0;
}
.nav-links.active {
  display: flex; /* Show links when active */
}
.nav-links a {
  padding: 10px;
  color: #e3fef7; 
  text-align: center; 
}

/*MOBILE LAYOUT*/
#right-section{
  margin: 10px 10px;
}
h1 {
  color: #003c43;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0;
}
#webDev {
  color: #003c43;
  text-align: center;
  font-size: 1.4em;
  text-shadow: 1px 1px #bd7407;
}
#my-img img {
  max-width: 50%; 
  height: auto; 
  display: block;
  margin: 0 auto;
}

h2 {
  color: #77b0aa;
  padding: 10px;
  text-align: center;
  margin: 0;
  font-size: 1.2em;
}

#about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}
.about-content p {
  font-size: 0.9em; 
  padding: 5px;
  line-height: 1.5;
}
.paragraph {
  margin: 0;
  font-size: 0.9em;
  text-align: left;
}
.animate-char{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #5c7a6e 0%,
    #197a10 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  color: #86bf8e;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 15px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
main{
  flex-grow:1;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 70px;
  grid-gap: 30px;
  justify-content: space-evenly;
  align-items: center;
}
.hidden {
  display: none;
}
.about-content:hover {
  background-color: #ecf3e0; /* Change color slightly on hover to indicate interactivity */
}

/*EXPERIENCE*/
#experience {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.experience-block {
  margin-bottom: 15px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
h3{
  font-size: 0.9em;
  font-weight: 100;
}
.cards-container {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.dates {
  text-align: left;
}
.description {
  text-align: right;
}
.dates, .description{
  font-size: 0.7em;
  font-style: italic;
}
p,
ul {
  font-style: italic;
  text-indent: 15px;
  font-size: 1em;
  padding: 10px;
  margin-top: 5px;
}
ul, #listOfProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*SKILLS*/
.skills-list, .projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-size: 0.9em;
}
.projectLink {
  color: black; 
}

/* Form Styling */
#form-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  display: grid;
  width: 60%;
  flex-direction: column;
  align-items: center;
}
input,
textarea {
  padding: 10px;
}
label {
  text-align: start;
  font-size: 1em;
}
/*BUTTONS*/
#btn_submit {
  width: 50%;
  border-radius: 10px;
  padding: 8px;
  background-color: #bd7407;
  justify-self: center;
  align-items: center;
}
.removeButtonStyle {
  background-color: rgb(190, 26, 26);
  border-radius: 8px;
}
/*.editMessageButton {
  background-color: rgb(234, 238, 186);
  border-radius: 8px;
}*/
.nameColor {
  color: black;
}

/* FOOTER */
footer {
  background-color: #114232;
  width: 100%; 
  position: relative; 
  margin-left: 0;
  margin-top: auto; 
  padding: 7px 0; 
  text-align: center; 
}
.connect-container {
  display: flex;
}
.copyright{
  color: #D6EFD8;
}
/* Social Media Links */
.social-media {
  margin: auto;
}


/* Larger Screens */
@media (min-width: 768px) {
  .hamburger {
    display: none; /*Hide*/
  }
  
  .nav-links {
    display: flex; /* Show nav links */
    flex-direction: row; 
    position: static;
    width: auto;
    padding: 0; 
  }
  nav {
    font-size: 1.3em;
    word-spacing: 10px;
  }
  /* LEFT-SECTION */
#left-section {
  display:flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 35%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-size: 0.8em;
  background-image: linear-gradient(to right, #3c5a38 0%, #cb8d42 100%);
}
  h1, #webDev {
    font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
  #my-img img {
    max-width: 80%; 
    height: auto; 
    display: block;
    margin: 0 auto;
  }
/* RIGHT-SECTION */
#right-section {
  margin-left: 35%;
  width: 65%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100vh;
  flex-grow: 1; /* Allow it to grow to fill available space */
  height: auto; /* Remove fixed height */
}
  .about-content p {
    font-size: 1.2em; 
    padding: 5px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
  }
  .animate-char{
   background-size: auto auto;
   background-clip: border-box;
   color: #86bf8e;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 35px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }

  #experience {
    flex-direction: row; 
    justify-content: space-between;
  }
  .experience-block {
    flex-basis: 30%;
    margin-right: 20px;
  }
  .dates, .description{
    font-size: 1.5em;
    
  }
  .cards-container {
    flex-basis: 65%;
  }
  #btn_submit {
    width: 50%;
    padding: 8px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4.3em;
  }
  #webDev{
    font-size:3.5em;
  }
  .about-content {
align-self: center;
  }
  h2 {
    font-size: 3em;
  }
  nav {
    font-size: 1.5em;
    word-spacing: 10px;
  }

  ul {
    font-style: italic;
    text-indent: 15px;
    font-size: 2em;
    padding: 10px;
  }
}
